.App {
  /*text-align: center;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-padding {
  color:azure;
  padding-left: 1rem;
  padding-right: 1rem;
}

#Stu-Modal-Details > div > div {
  margin-bottom: 10px;
}

.links {
  color: white;
  border: 0px solid gray;
  border-radius: 3px;
  padding: 4px 10px 5px 9px;
  background: transparent;
}

.links:hover {
  color: white;
  border: 1px solid rgba(247, 247, 247, 0.5);
  padding: 3px 9px 4px 8px;
  background: rgba(247, 247, 247, 0.1);
}

.canvas > div {
  color: white;
  width: 95%;
  border: 0px solid gray;
  margin: 5px 5px 5px 5px;
  padding: 5px 10px 5px 9px;
  border-radius: 3px;

  background: transparent;
}
.canvas > div:hover {
  color: white;
  border: 1px solid rgba(247, 247, 247, 0.5);
  padding: 4px 9px 4px 8px;
  background: rgba(247, 247, 247, 0.1);
}